apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: appset
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  preserveResourcesOnDeletion: true

  generators:
    - merge:
        mergeKeys:
          - path
        generators:
          - git:
              repoURL: 'https://github.com/bonzonkim/argocd-apps'
              revision: main
              directories:
                - path: '*/*'
                - path: 'apps/*'
                  exclude: true
                - path: 'bootstrap/*'
                  exclude: true
                - path: 'ip-bumgu-com/*'
                  exclude: true
                - path: '.git/*'
                  exclude: true
                - path: '.github/*'
                  exclude: true
              values:
                path: '{{ "{{" }} .path.path {{ "}}" }}'

          - git:
              repoURL: 'https://github.com/bonzonkim/argocd-apps'
              revision: main
              files:
                - path: '*/*/config.json'
              values:
                path: '{{ "{{" }} trimSuffix "/config.json" .path {{ "}}" }}'

  template:
    metadata:
      name: '{{ "{{" }} default (printf "%s-%s" (index (splitList "/" .path) 0) (index (splitList "/" .path) 1)) .appName {{ "}}" }}'
      annotations:
        {{ "{{-" }} if .annotations {{ "}}" }}
        {{ "{{-" }} range $key, $value := .annotations {{ "}}" }}
        {{ "{{" }} $key {{ "}}" }}: {{ "{{" }} $value {{ "}}" }}
        {{ "{{-" }} end {{ "}}" }}
        {{ "{{-" }} end {{ "}}" }}
    spec:
      project: default
      sources:
        {{ "{{-" }} if .chart {{ "}}" }}
        - repoURL: '{{ "{{" }} .repoURL {{ "}}" }}'
          chart: '{{ "{{" }} .chart {{ "}}" }}'
          targetRevision: '{{ "{{" }} .targetRevision {{ "}}" }}'
          helm:
            releaseName: '{{ "{{" }} default .chart .releaseName {{ "}}" }}'
            {{ "{{-" }} if .valuesFile {{ "}}" }}
            valueFiles:
              - '$values/{{ "{{" }} .path {{ "}}" }}/values.yaml'
            {{ "{{-" }} end {{ "}}" }}
            {{ "{{-" }} if .valuesObject {{ "}}" }}
            valuesObject:
              {{ "{{-" }} range $key, $value := .valuesObject {{ "}}" }}
              {{ "{{" }} $key {{ "}}" }}: {{ "{{" }} $value {{ "}}" }}
              {{ "{{-" }} end {{ "}}" }}
            {{ "{{-" }} end {{ "}}" }}
        {{ "{{-" }} else {{ "}}" }}
        - repoURL: 'https://github.com/bonzonkim/argocd-apps'
          targetRevision: main
          path: '{{ "{{" }} .path {{ "}}" }}'
        {{ "{{-" }} end {{ "}}" }}

        - repoURL: 'https://github.com/bonzonkim/argocd-apps'
          targetRevision: main
          ref: values

      destination:
        server: https://kubernetes.default.svc
        namespace: '{{ "{{" }} default (index (splitList "/" .path) 0) .namespace {{ "}}" }}'
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          {{ "{{-" }} if .syncOptions {{ "}}" }}
          {{ "{{-" }} range .syncOptions {{ "}}" }}
          - {{ "{{" }} . {{ "}}" }}
          {{ "{{-" }} end {{ "}}" }}
          {{ "{{-" }} end {{ "}}" }}
